#############
### MACOS ###
#############

Network Trash Folder
Temporary Items
Icon

.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.VolumeIcon.icns
.Spotlight-V100
.TemporaryItems
.AppleDesktop
.AppleDouble
.LSOverride
.fseventsd
.DS_Store
.Trashes
.AppleDB
.apdisk
._*


###############
### WINDOWS ###
###############

Thumbs.db:encryptable
ehthumbs_vista.db
ehthumbs.db
Thumbs.db

*.msix
*.msm
*.msp
*.lnk
*.cab
*.msi


###########
### GIT ###
###########

*_BACKUP_*.txt
*_REMOTE_*.txt
*_LOCAL_*.txt
*_BASE_*.txt
*.BACKUP.*
*.REMOTE.*
*.LOCAL.*
*.BASE.*
*.orig


###########
### VIM ###
###########

Sessionx.vim
Session.vim
tags

[._]s[a-rt-v][a-z]
[._]*.s[a-v][a-z]
[._]ss[a-gi-z]
[._]*.sw[a-p]
[._]sw[a-p]
[._]*.un~


########################
### VISUALSTUDIOCODE ###
########################

!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
.vscode/*
.history


#############
### EMACS ###
#############

auto-save-list
flycheck_*.el
tramp
dist/

*_flymake.*
*_archive
*.rel
*.elc
*~

.org-id-locations
.dir-locals.el
.projectile
.cask/
.\#*

/network-security.data
/.emacs.desktop.lock
/.emacs.desktop
/eshell/history
/eshell/lastdir
/server/
/auto/
/elpa/


################
### INTELLIJ ###
################

com_crashlytics_export_strings.xml
crashlytics-build.properties
atlassian-ide-plugin.xml
crashlytics.properties
fabric.properties
cmake-build-*/
out/

.idea/caches/build_file_checksums.ser
.idea/**/dataSources.local.xml
.idea/**/usage.statistics.xml
.idea/**/sqlDataSources.xml
.idea/**/mongoSettings.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dbnavigator.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/**/dictionaries
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/replstate.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/httpRequests
.idea/**/tasks.xml
.idea/sonarlint
.idea_modules/
.idea/**/shelf


##############
### FLASK ####
##############

*.egg-info/
*$py.class
*.manifest
*.py[cod]
*.sage.py
*.cover
*.spec
*.log
*.egg
*.pot
*.mo
*.so

.ipynb_checkpoints
.webassets-cache
.python-version
.installed.cfg
.pytest_cache/
.spyderproject
.hypothesis/
.ropeproject
.mypy_cache/
.spyproject
.coverage.*
.dmypy.json
.coverage
.Python
.scrapy
.cache
.eggs/
.pyre/
.venv
.tox/
.nox/
.env

pip-delete-this-directory.txt
share/python-wheels/
!instance/.gitignore
celerybeat-schedule
pip-wheel-metadata/
db.sqlite3-journal
local_settings.py
ipython_config.py
profile_default/
develop-eggs/
nosetests.xml
coverage.xml
docs/_build/
__pycache__/
pip-log.txt
db.sqlite3
dmypy.json
downloads/
instance/*
venv.bak/
instance/
htmlcov/
env.bak/
MANIFEST
target/
wheels/
lib64/
parts/
sdist/
build/
eggs/
venv/
var/
env/
lib/
ENV/
