<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Space Trader </title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body class="mainFont" style="background-color: #c4c4c4">
    <div style="width: 100vw; text-align: center; display: table-cell; vertical-align: middle; height: 97vh">
      <div style="display: inline-block; width: 60%; margin: 0 auto">
        <h1 class="largeText">WELCOME TO SPACETRADER</h1>

        <a href="CharacterCreation">
          <button class="centerButton">BEGIN</button>
        </a>
      </div>
    </div>
  </body>
</html>
